###############################################################################
# Set default behavior to automatically normalize line endings.
###############################################################################
* text=auto

#Approval tests should not be touched by git
*.approved.txt binary
